* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */

body {
  font-family: Arial;
  background: #f4f6f9;
}

/* APP LAYOUT */

.app {
  display: flex;
  height: 100vh;
}

/* SIDEBAR */

.sidebar {
  width: 240px;
  background: #1f3b63;
  color: white;
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 30px;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {

  padding: 14px 0;

  cursor: pointer;

  display: flex;

  align-items: center;

  gap: 12px;

  transition: 0.2s;
}

.sidebar li:hover {
  color: #4fc3f7;
}

.sidebar i {
  color: #4fc3f7;
  width: 20px;
}

/* MAIN */

.main {
  flex: 1;
  padding: 20px;
}

/* TOPBAR */

.topbar {

  display: flex;

  justify-content: space-between;

  margin-bottom: 20px;
}

.topbar button {

  background: #ff8c00;

  color: white;

  border: none;

  padding: 10px 20px;

  border-radius: 8px;

  cursor: pointer;
}

.topbar input {

  padding: 10px;

  width: 250px;

  border: 1px solid #ccc;

  border-radius: 8px;
}

/* PAGE */

.page {

  background: white;

  padding: 30px;

  border-radius: 12px;

  min-height: 400px;
}

/* HIDDEN PAGE */

.hidden {
  display: none;
}
.submenu {

  margin-left: 35px;

  margin-bottom: 10px;
}

.submenu li {

  font-size: 14px;

  color: #d6e4f0;

  padding: 8px 0;
}
/* PAGE DESCRIPTION */

.page-desc {

  margin-top: 10px;

  margin-bottom: 20px;

  color: #666;
}

/* TABLE */

.table-container {

  margin-top: 20px;

  overflow-x: auto;
}

table {

  width: 100%;

  border-collapse: collapse;

  background: white;
}

th {

  background: #e8edf3;

  padding: 14px;

  text-align: left;

  font-size: 14px;
}

td {

  padding: 14px;

  border-bottom: 1px solid #ddd;

  font-size: 14px;
}

tr:hover {

  background: #f5f9fc;
}